#%RAML 1.0
title: BitCtrl CMS JSON API
version: v2
protocols: [ HTTPS ]
baseUri: https://bitctrl.de/dav/api/{version}
mediaType:  application/json

uses:
  types: types.raml

/systemobjekte:
  /messquerschnitt:
    post:
      body:
        application/json:
          type: types.MessQuerschnitt []
    get:
      responses:
        200:
          body:
            type: types.MessQuerschnitt[]
  /anzeigequerschnitt:
    post:
      body:
        application/json:
          type: types.AnzeigeQuerschnitt []
    get:
        responses:
         200:
            body:
              type: types.AnzeigeQuerschnitt[]
  /anzeige:
    post:
      body:
        application/json:
          type: types.Anzeige []
    get:
        responses:
          200:
            body:
              type: types.Anzeige[]
  /fahrstreifen:
      post:
          body:
            application/json:
              type: types.FahrStreifen []
      get:
          responses:
            200:
              body:
                type: types.FahrStreifen[]
  /glaettemeldeanlage:
      post:
         body:
           application/json:
             type: types.Glaettemeldeanlage[]
      get:
         responses:
           200:
             body:
               type: types.Glaettemeldeanlage[]
/onlinedaten:
  /verkehrsdatenkurzzeit:
      post:
        body:
          application/json:
            type: types.VerkehrsdatenKurzzeit []

  /anzeigeeigenschaft:
      post:
        body:
          application/json:
            type: types.AnzeigeEigenschaft []
  /anzeigequerschnitteigenschaft:
    post:
      body:
        application/json:
          type: types.AnzeigeQuerschnittEigenschaft []
  /anzeigequerschnitthelligkeitsmeldung:
    post:
      body:
        application/json:
          type: types.AnzeigeQuerschnittHelligkeitsMeldung []
  /gmaumfelddaten:
      post:
        body:
          application/json:
            type: types.GmaUmfelddaten []
